<!DOCTYPE html>
<html>
    <head>
        <title>SignUp</title>
    </head>
    <body>
        <h3>Sign In </h3>

        <form action="/signin" method="post" >
        {% csrf_token %}
            <label for="">Username</label>
            <input type="text" id="username" name="username" placeholder="Enter Your Username" required>
            <br>
            <br>

            <label for="">Password</label>
            <input type="password" id="Password1" name="Password1" placeholder="Enter Your Password" required>
            <br>
            <br>

            
            <button type="submit">Sign In</button>
            
        </form>


    </body>
</html>